.carousel {
    padding: 20px;
    -webkit-perspective: 500px;
            perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel > * {
    flex: 0 0 auto;
  }
  .carousel figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
  }
  .carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
  }
  .carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    position: fixed;
  }
  .carousel nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: white;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
  .carousel .loader {
    left: 0px;
    top: 0px;
    background: white;
    text-align: center;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

  }
  .hidden .loader {
    visibility: hidden;
  }

  .image_placeholder {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
  }