<div class="carousel" #carousel>
	<figure >
		<img 
		*ngFor="let image of images" 
			src="{{image.image_url}}" 
			alt="{{image.image_url}}" 
			class="image_placeholder" 
			height="10%"
			(load)="onLoad()"
			#imgs
			>
	</figure>
	<nav #nav>
		<button class="nav prev" (click)="showPrev()">Prev</button>
		<button class="nav next" (click)="showNext()">Next</button>
	</nav>
	<span class="loader" [className]="waiting ? 'hidden' : ''"></span>
</div>